* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.root {
  display: flex;
  justify-content: space-evenly;
  background-color: #222;
  padding: 15px;
  gap: 30px;
}

.root.light {
  background-color: #fff;
}

.left-sidebar,
.right-sidebar {
  background-color: #333;
  color: #fff;
  width: 30vh;
  border-radius: 10px;
  padding: 15px;
}
/* 
Link {
  color: #fff;
  text-decoration: none;
} */
/* Link span {
  color: #fff;
  text-decoration: none;
} */

.progress-bar-container a {
  color: white;
  text-decoration: none;
}

.left-sidebar.light,
.right-sidebar.light {
  background-color: #eee;
  color: #333;
}

.sidebar-content {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 80vh;
  align-items: start;
  font-size: 18px;
  list-style: none;
  background-color: #262626;
}

.sidebar-content li {
  padding: 0px;
}

.sidebar-content.light {
  background-color: #c6c6c6;
}

.sidebar-content:hover {
  cursor: pointer;
}

.sidebar-dropdown.bookmark-item,
.sidebar-dropdown.wish-item {
  height: auto;
  text-align: start;

  transition: 1s;
  transition-timing-function: ease-in-out;
}

.sidebar-dropdown.bookmark-item {
  width: 12vw;
}

.sidebar-dropdown.bookmark-item {
  width: 12vw;
}

.sidebar-dropdown.bookmark-item ul,
.sidebar-dropdown.wish-item ul {
  padding: 0px 8px;
}

.sidebar-dropdown.bookmark-item li,
.sidebar-dropdown.wish-item li {
  margin: 8px 0px;
  display: block;
}

.sidebar-dropdown.bookmark-item li:hover,
.sidebar-dropdown.wish-item li:hover {
  scale: 1.03;
}

.sidebar-content span {
  font-size: 15px;
}

.sidebar-content a {
  text-decoration: none;
  color: white;
  height: 25px;
}

.sidebar-content.light a {
  color: #222;
}

.sidebar-content a:hover {
  scale: 1.03;
}

.sidebar-dropdown {
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
}

.main-content {
  background-color: #333;
  flex-grow: 3;
  border-radius: 10px;
  padding: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.main-content.light {
  background-color: #e5e5e5;
  color: #222;
}

.book-reading-page {
  background-color: #333;
  flex-grow: 2;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.book-reading-page.light {
  color: #d7d7d7;
  color: #222;
}

.book-read-navbar {
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 8vw;
  width: auto;
  padding: 10px;
}

.page-function-container {
  width: 28vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-function-container button {
  border-radius: 10px;
  background-color: #777;
  color: #000;
  height: 35px;
  width: 30px;
}

.page-function-container button:hover {
  scale: 1.1;
}

.fa-solid.fa-circle-half-stroke.hover:hover,
.material-symbols-outlined.hover:hover,
.fa-regular.fa-bookmark.hover:hover,
.fa-solid.fa-bookmark.hover:hover,
.fa-solid.fa-expand.hover:hover,
.fa-solid.fa-heart.hover:hover,
.fa-regular.fa-heart.hover:hover {
  scale: 1.2;
  transition: all;
  transition-timing-function: ease-in-out;
}

.card-link {
  text-decoration: none;
  color: #000;
}

.page-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}
.page-search input {
  height: 30px;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  outline-style: solid;
  outline-color: #333;
  outline-width: thin;
}

.book-page {
  display: flex;
  justify-content: space-evenly;
  background-color: #222;
  height: auto;
  min-height: 80vh;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

.book-reading-page.light {
  background-color: #ddd;
}

.book-page.light {
  color: #222;
  background-color: #ccc;
}
.book-page.left,
.book-page.right {
  display: flex;
  flex-direction: column;
  background-color: #444;
  padding: 10px;
  width: 40vw;
  align-items: center;
}

.book-page.left.light,
.book-page.right.light {
  background-color: #eee;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.search-container.light {
  color: #222;
}

.search-container input {
  border-radius: 10px;
  width: 50vw;
  height: 60px;
  outline-style: solid;
  outline-color: #333;
  outline-width: thin;
  padding: 10px;
}
.search-container span {
  font-size: 30px;
  margin-left: 10px;
}

.search-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  height: 100vh;
  background-color: #444;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 10px;
}

.card-container.light {
  background-color: #d7d7d7;
  color: #222;
}

.book-card-container {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  height: 70vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

.book-card {
  background-color: #999;
  height: 57vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.book-card:hover {
  transform: scale(1.03);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.book-card img {
  height: 35vh;
  width: 25vh;
  border-radius: 10px;
  margin-top: 10px;
}

.click {
  font-size: 20px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.click i:hover {
  scale: 1.02;
}

.profile-container {
  background-color: #262626;
  height: auto;
  min-height: 40vh;
  border-radius: 10px;
  padding: 10px;
}
.profile-container.light {
  background-color: #c6c6c6;
  color: #222;
}

.profile-container img {
  border-radius: 80px;
  height: 60px;
  width: 60px;
}

.progress-bar-container {
  background-color: #333;
  height: auto;
  min-height: 60vh;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
}

.progress-bar-container.light {
  background-color: #ddd;
}
.progress {
  margin-top: 10px;
}

.progress-bar-container Link {
  text-decoration: none;
  color: #fff;
}

progress {
  width: 10vw;
}
progress::-webkit-progress-bar {
  background-color: #555;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-color: #33ff33;
  border-radius: 20px;
}

.progress:hover {
  scale: 1.02;
}

.login-root {
  display: flex;
  background-color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-card {
  background-color: #333;
  height: 70vh;
  width: 35vw;
  border-radius: 30px;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.login-card h2 {
  text-align: center;
}

.login-input-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-input-form input {
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}
.login-submit {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vh;
  align-items: center;
}

.login-submit input {
  width: 40%;
  height: 40px;
  background-color: #eee;
  border-radius: 20px;
}
.login-submit input:hover {
  scale: 1.1;
  transition: all 0.3;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10px;
  margin: 0px 5px;
}

.pagination li {
  background-color: #666;
  border-radius: 10px;
  margin: 0px 5px;
}

.pagination li:hover {
  scale: 1.1;
}
.pagination.active {
  background-color: #888;
  color: white;
}

.book-info {
  max-height: 60px;
  text-align: center;
}

.book-detail-modal {
  position: absolute;
  z-index: 10;
  height: 400px;
  width: 600px;
  border-radius: 10px;
  padding: 10px;

  background-color: #ddd;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header button {
  width: 30px;
  height: 30px;
  background-color: #888;
}

.modal-header button:hover {
  scale: 1.05;
  background-color: #999;
}
